---
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import RootLayout from './RootLayout.astro'

type Props = CollectionEntry<'blog'>

const { id, data } = Astro.props
---

<RootLayout
  title={data.title}
  description={data.description}
  image={data.heroImage}
>
  <article>
    <div class="grid place-items-center">
      {
        data.heroImage && (
          <Picture
            src={data.heroImage}
            alt=""
            width={1020}
            height={510}
            fit="cover"
            class="hero-image"
            style={`view-transition-name: hero-image-${id}`}
            formats={['avif', 'webp']}
          />
        )
      }
    </div>
    <div class="prose dark:prose-invert md:prose-lg my-8 mx-auto px-4">
      <div>
        <div>
          <FormattedDate date={data.pubDate} />
          {
            data.updatedDate && (
              <div>
                最終更新: <FormattedDate date={data.updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{data.title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</RootLayout>
<style>
  .hero-image {
    contain: paint;
  }
</style>
